  html, body {
  	/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
Try it Yourself »

	width: 1200px;
	height: 800px;
	margin: 0;
	padding: 0;
	background-image: url("images/imagesss.jpg");
	background-size: 2800px 1600px;
	background-position:center;
     z-index: -1;
	 align-content:center
}

.button {
    border: 2px;
      color: white;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 190px;
    height: 50px;
    display: block;
	padding: 8px;
	backgound: #ffrf;
	background: rgba(0, 0,255, 0.5);
	border-radius: 8px;
	color: #eee;
	text-align: center;
	text-decoration: none;
	letter-spacing: 1px;
	-webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
    background: #fff;
	background: rgba(214, 0, 0, 0.5);
	border-radius: 8px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	letter-spacing: 1px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    border: 2px;
    border-radius: 5px;
    background: #fff; /* fallback color for old browsers */
	background: rgba(255, 255, 255, 1);
	border-radius: 8px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	letter-spacing: 1px;
	transition: all 0.3s ease-out;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #4CAF50;
    color: white;
    background: #fff; 
	background: rgba(214, 0, 0, 0.5);
	border-radius: 8px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	letter-spacing: 1px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

div.container {
	width: inherit;
	height: inherit;
	
	margin: 0;
	padding: 0;
	order: 1px solid gray;
	position: absolute;
	z-index: 1;
	color: white
}

header{
width:inherit;
 
}

footer{
	
	color: white;
	text-align: right; 
}
canvas{
	
}
nav {
    float: left;
    width: 160px;
	height:inherit;
    margin: 0;
    padding: 1em;
}


article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
